@font-face {
    font-family: "HYJiaShuJ";
    src: url("HYJiaShuJ.eot"); /* IE9 */
    src: url("HYJiaShuJ.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("HYJiaShuJ.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("HYJiaShuJ.woff") format("woff"), /* chrome, firefox */
    url("HYJiaShuJ.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("HYJiaShuJ.svg#HYJiaShuJ") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


